<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>

    <section class="about-container">
        <img src="css/images/me.jpg" alt="Picture of me" class="profile-img">

        <p>
            Hi, I'm Nathan. I'm currently learning web development and building
            projects using HTML, CSS, and JavaScript.
        </p>

        <h2>Hobbies & Interests</h2>
        <ul>
            <li>Hiking</li>
            <li>Coding</li>
            <li>Music</li>
            <li>Fitness</li>
        </ul>
    </section>

</body>
</main>
<%- include('partials/footer') %>